/* your code here */
.photo-main{
	background-color:greenyellow;
	
}

.photo-main.controls{
	display:flex;
	justify-items:space-between;
}

.add-to-cart{
	display: inline-block;
margin-top: 1.5rem;
padding: 0.8rem 1.8rem;
background: #ff4d4d;
color: #fff;
border: none;
border-radius: 6px;
font-size: 0.9rem;
cursor: pointer;
text-transform: uppercase;
	
}